<!DOCTYPE html>
<html>
<head>
    <title>Flat Video Call Widget Responsive Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta name="keywords" content="Video Call Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
    <link href="Static/css/style.css" rel='stylesheet' type='text/css' />
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,400' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>
<body>
<div class="header">
    <h1>Flat <span>Video Call</span> Widget</h1></div>
<!-----start-main---->
<div class="login-form">
    <div class="head-info">
        <a href="#"><img src="http://wx.qlogo.cn/mmhead/WAibKjHvK5nENUSe7iaTygHOwthljStLXGrLLyAljtNGicsoQNvrZ0cUg/0" style="border-radius:50%;"/></a>
        <div class="head"><a href="#"><img src="Static/images/3.png" /></a>
        </div>
    </div>
    <div class="social-icons">
        <h2>Ed Droste</h2>
        <h3>United States</h3>
        <ul class="bottom-buttons">
            <li>
                <a href="#">
                    <i class="video"> </i>
                    <p>Talk</p>
                </a>
            </li>
            <li>
                <a href="#" class="top-close">
                    <i class="close"> </i>
                    <p>Later</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--//End-login-form-->
<!-----start-copyright---->
<div class="copy-right">
    <p>Copyright &copy; 2017<a target="_blank" href="http://www.moke8.com/">Winds吧</a></p>
</div>
<!-----//end-copyright---->

</body>
<script src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
<script type="text/javascript">
    
</script>
</html>